body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #6c7279;
  margin: 0;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

/*container
===================*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.fedex-logo {
  width: 145px;
  height: 25px;
  position: absolute;
  margin: -14px 0 0 -27px;
}

/*header
===================*/
.header {
  padding: 35px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100px;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #515369;
  padding: 35px 0;
  align-items: center;
}

/*Nav
===================*/
.nav {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav_link {
  margin-left: 50px;
  color: #fff;
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.2s linear;
}

.nav_link:hover {
  opacity: 1;
}

.nav_link:first-child {
  margin-left: 0;
}

/*Intro
===================*/
.intro {
  height: 750px;
  background: #59697a url(/img/backgroung-1.jpg) no-repeat center;
  background-size: cover;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro_inner {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.intro_title {
  font-family: "open sans", sans-serif;
  font-size: 65px;
  line-height: 1.1;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 30px;
}

.intro_subtitle {
  font-size: 22px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
}

/*Button
===================*/
.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 40px;
  border-radius: 2px;
  font-family: "Open Sans", sans-serif;
  transition: background 0.5s linear;
  margin-top: 60px;
}

.btn--red {
  background-color: #eb1010;
}

.btn--red:hover {
  background-color: #b80c0c;
}

/*Features
===================*/
.features_icon {
  width: 97px;
  height: 81px;
  margin-bottom: 20px;
}

.features-1 {
  display: flex;
  margin: 100px 0;
}

.features-2 {
  display: flex;
  margin: 100px 0;
}

.features_item {
  width: 33.3333%;
  text-align: center;
  padding: 0 40px;
  margin: 25px 0;
}

.features_title {
  font-weight: 700;
  font-size: 14px;
  color: #2d3033;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.features_text {
  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;
}

/*Works
===================*/
.works {
  display: flex;
  flex-wrap: wrap;
}

.works_item {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;

  width: 25%;
  height: 350px;

  position: relative;
  overflow: hidden;
}

.works_item:hover .works_content {
  opacity: 1;
}

.works_photo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}

.works_content {
  transition: opacity 0.2s linear;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 69, 69, 65%);
}

.works_title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.works_text {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

/*Team
===================*/
.team {
  margin: 100px 0 70px;
}

.team_inner {
  display: flex;
  flex-wrap: wrap;
}

.team_item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.team_photo {
  margin-bottom: 20px;

  display: block;
  max-width: 100%;
  height: auto;
}

.team_name {
  margin-bottom: 8px;

  font-size: 22px;
  color: #2d3033;
}

.team_prof {
  margin-bottom: 15px;

  font-size: 13px;
  color: #e84545;
  text-transform: uppercase;
}

.team_text {
  font-size: 14px;
  line-height: 1.5;
  color: #6c7279;
  margin-bottom: 20px;
}

/*Team
===================*/
.social {
  display: flex;
  justify-content: center;
}

.social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border: 1px solid #1f4b61;
  margin-right: 4px;
}

.social_item-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border: 1px solid #df2a7e;
  margin-right: 4px;
}

.social_item-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border: 1px solid #1c95d1;
  margin-right: 4px;
}

.zoom_img:hover {
  height: 33px;
}

/*Reviews
===================*/
.reviews {
  overflow: hidden;
  background-color: #53354a;
}

.revies_item {
  display: flex;
  flex-wrap: wrap;
}

.reviews_photo {
  width: 50%;
  height: 500px;
  position: relative;
}

.reviews_img {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.reviews_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 80px;
}

.reviews_text {
  font-family: "Cardo", serif;
  font-style: italic;
  font-size: 36px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 25px;
}

.reviews_author {
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}

/*Download
===================*/
.download {
  margin: 90px 0;
  text-align: center;
}

.download_title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 28px;
  color: #2d3033;
  font-weight: 300;
  margin-bottom: 10px;
}

.download_text {
  font-size: 13px;
  font-weight: 700;
  color: #2d3033;
  text-transform: uppercase;
}

#btn-red {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 40px;
  border-radius: 2px;
  font-family: "Open Sans", sans-serif;
  transition: background 0.5s linear;
  background-color: #eb1010;
  margin-top: 30px;
}

#btn-red:hover {
  background-color: #b80c0c;
}
/*Footer
===================*/
.footer {
  background-color: #0e0e4eec;
}

.footer_inner {
  padding: 70px 0;
  display: flex;
  flex-wrap: wrap;
}

.footer_block {
  width: 33.33%;
  text-align: center;
  padding: 0 15px;
}

.footer_title {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 5px;
}

.footer_address {
  line-height: 1.5;
  font-size: 14px;
  font-style: normal;
  color: rgba(255, 255, 255, 50%);
}

.footer_text {
  line-height: 1.5;
  font-size: 14px;
  color: rgba(255, 255, 255, 50%);
}

/*Footer_copyright
===================*/
.footer_copyright {
  padding: 20px 0;
  background-color: #0f0f50;
}

.text_copyright {
  text-align: center;
  font-size: 14px;
  color: #808080;
}

.made {
  text-align: center;
  font-size: 14px;
  color: #808080;
  line-height: 1.5;
}

.color_by {
  color: #fff;
}
